$font-size: 13px;
$font-size-12: 12px;

$box-shadow-color: rgba(163, 163, 163, 1);
$bg-color: white;
$border-color: #ced4da;
$border-radius: 3px;

$input-height: 30px;
$input-padding-left: 8px;
$input-padding-top: 5px;
$input-disabled-bg: #e9ecef;
