<div class="container">
  <app-left-panel #leftPanel [type]="3" [listLandmarks]="listLandmark" [listLandmarkCategorys]="listLandmarkCategorys" [listLandmarkGroups]="listLandmarkGroups"
   [map]="map" (emitLandmark)="onChangeSelectedLandmark($event)" (emitRemoveLandmark)="remove($event)" (emitAddOrEditLandmark)="reloadList($event)" setFullHeight></app-left-panel>
  <div class="map-container">
      <div id="map3"></div>
  </div>
</div>

<app-add-or-edit-landmark #createOrEditLandmark1 [currentMap]="map" [listLandmarkGroups]="listLandmarkGroups" [listLandmarkCategorys]="listLandmarkCategorys"
 (modalSave)="modalSave($event)"></app-add-or-edit-landmark>
